p 
{
    color: red;
    font-size: 22pt;
}
#dlawszyskich_orzel
{
    color: yellow;
    font-size: 10pt;
    font-family: Arial;
}
#gruby_orzel
{
    color: green;
    font-size: 17pt;
    font-weight: bold;
}
