p#pogrubienie_orzel
{
  font-size:34;
  font-weight:900;
  color:#8129cc;
}
p#pochylone_orzel
{
  font-size:34;
  font-weight:900;
  color:#8129cc;
}
p#index_dolny_orzel
{
  font-size:34;
  font-weight:900;
  color:#8129cc;
}
p#index_gorny_orzel
{
  font-size:34;
  font-weight:900;
  color:#8129cc;
}
p#mono_orzel
{
  font-size:34;
  font-weight:900;
  color:#8129cc;
}
p#powiekszenie_orzel
{
  font-size:34;
  font-weight:900;
  color:#8129cc;
}
p#pomniejszenie_orzel
{
  font-size:34;
  font-weight:900;
  color:#8129cc;
}
