p#pogrubienie_orzel
{
  font-size:30px;
  font-weight:900;
  color:#835C83;
}
p#pochylone_orzel
{
  font-style: italic;
  font-size:35pt;
  color:#E7C067;
}
p#index_gorny_orzel
{
  vertical-align:super;
  font-size:1cm;
  color:#978E17;
}
p#index_dolny_orzel
{
  vertical-align:sub;
  font-size:1.5cm;
  color:#33F2DF;
}
p#mono_orzel
{
  vertical-align:sub;
  font-size:40px;
  color:#15DE67;
}
p#powiekszenie_orzel
{
  font-size:34;
  color:#513E99;
}
p#pomniejszenie_orzel
{
  font-size:34;
  color:#B5A235;
}
/*  Orzeł Zad23_css  */ 
